* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.div-main {
    width: 100%;
    height: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),  url(downloadaja.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(161, 119, 131);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.itu {
    overflow: hidden;
}
.h1 h1 {
    color: rgb(236, 168, 10);
    font-size: 48px;
    text-align: center;
    margin-top: 5px;
}
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    color: white;
}
.hro-contain {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hro-contain h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 5%;
}
.hro-contain p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.hro-contain button {
    display: inline-block;
    background-color: rgb(161, 119, 131);
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hro-contain button:hover {
    background-color: rgb(255, 207, 102);
    transform: scale(1.1);
}
.img {
    flex: 1;
    width: 500px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .h1 h1 {
        font-size: 45px;
        margin-top: 30px;
    }
    .itu {
        margin: 0px;
    }
    .contain {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hro-contain {
        width: 100%;
        margin: 35px 0px;
    }
    .hro-contain h2 {
        font-size: 30px;
    }
    .hro-contain p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hro-contain button {
        font-size: 16px;
        padding: 8px 16px;
    }
    .img {
        width: 100%;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}